<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.DotNet.PlatformAbstractions" version="2.0.4" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyModel" version="2.0.4" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="11.0.1" targetFramework="net472" />
  <package id="Ultraviolet" version="2020.2.0.4055" targetFramework="net472" />
  <package id="Ultraviolet.BASS" version="2020.2.0.4055" targetFramework="net472" />
  <package id="Ultraviolet.BASS.Native" version="2020.2.0.4055" targetFramework="net472" />
  <package id="Ultraviolet.Core" version="2020.2.0.4055" targetFramework="net472" />
  <package id="Ultraviolet.Game.Desktop" version="2020.2.0.4055" targetFramework="net472" />
  <package id="Ultraviolet.OpenGL" version="2020.2.0.4055" targetFramework="net472" />
  <package id="Ultraviolet.OpenGL.Bindings" version="2020.2.0.4055" targetFramework="net472" />
  <package id="Ultraviolet.SDL2" version="2020.2.0.4055" targetFramework="net472" />
  <package id="Ultraviolet.SDL2.Native" version="2020.2.0.4055" targetFramework="net472" />
  <package id="Ultraviolet.Shims.Desktop" version="2020.2.0.4055" targetFramework="net472" />
  <package id="Ultraviolet.Tools" version="2020.2.0.4055" targetFramework="net472" />
</packages>